edc_auth
edc_action_item
edc_consent
edc_data_manager
edc_dashboard
edc_device
edc_identifier
edc_lab
edc_lab_dashboard
edc_locator
edc_metadata_rules
edc_model_admin
edc_navbar
edc_notification
edc_prn
edc_protocol
edc_reference
edc_registration
edc_subject_dashboard
edc_timepoint
edc_visit_schedule
